.heating-params {
    background-color: rgb(255, 240, 198);
    padding-left: 10px;
    border-left: 10px;
    border-color: red;
    border-width: 10;
}
.cooling-params {
    background-color: rgb(233, 255, 255);
}

.actual-value-field {
    text-align: right;
}
