<ion-header>
  <ion-toolbar>
    <ion-title>Kommandos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-badge color="medium">1</ion-badge>
          <ion-label>&nbsp;Betriebsart</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="send(40)">Einrichten</ion-button>
          <ion-button (click)="send(41)">Manuell</ion-button>
          <ion-button (click)="send(42)">Automatik</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-badge color="medium">1</ion-badge>
          <ion-label>&nbsp;Presse</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="send(30)">Öffnen</ion-button>
          <ion-button (click)="send(31)">Schliessen</ion-button>
          <ion-button (click)="send(29)">Stop</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-badge color="medium">1</ion-badge>
          <ion-label>&nbsp;OO Temperierung</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="send(21)">Heizen</ion-button>
          <ion-button (click)="send(25)">Kühlen</ion-button>
          <ion-button (click)="send(17)">Aus</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-badge color="medium">1</ion-badge>
          <ion-label>&nbsp;OU Temperierung</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="send(22)">Heizen</ion-button>
          <ion-button (click)="send(26)">Kühlen</ion-button>
          <ion-button (click)="send(18)">Aus</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-badge color="medium">1</ion-badge>
          <ion-label>&nbsp;UO Temperierung</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="send(23)">Heizen</ion-button>
          <ion-button (click)="send(27)">Kühlen</ion-button>
          <ion-button (click)="send(19)">Aus</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-badge color="medium">1</ion-badge>
          <ion-label>&nbsp;UU Temperierung</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="send(24)">Heizen</ion-button>
          <ion-button (click)="send(28)">Kühlen</ion-button>
          <ion-button (click)="send(20)">Aus</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-badge color="medium">1</ion-badge>
          <ion-label>&nbsp;Aggregat</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="send(34)">Ein</ion-button>
          <ion-button (click)="send(33)">Aus</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
